<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Pagina Inicial</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Produtos</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Clientes</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pedidos</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Contato</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Cadastre-se</button>
      </div>
      <div class="table">
    
        <div class="row header">
          <div class="cell">
            Name
          </div>
          <div class="cell">
            Age
          </div>
          <div class="cell">
            Occupation
          </div>
          <div class="cell">
            Location
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            Luke Peters
          </div>
          <div class="cell" data-title="Age">
            25
          </div>
          <div class="cell" data-title="Occupation">
            Freelance Web Developer
          </div>
          <div class="cell" data-title="Location">
            Brookline, MA
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            Joseph Smith
          </div>
          <div class="cell" data-title="Age">
            27
          </div>
          <div class="cell" data-title="Occupation">
            Project Manager
          </div>
          <div class="cell" data-title="Location">
            Somerville, MA
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            Maxwell Johnson
          </div>
          <div class="cell" data-title="Age">
            26
          </div>
          <div class="cell" data-title="Occupation">
            UX Architect & Designer
          </div>
          <div class="cell" data-title="Location">
            Arlington, MA
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            Harry Harrison
          </div>
          <div class="cell" data-title="Age">
            25
          </div>
          <div class="cell" data-title="Occupation">
            Front-End Developer
          </div>
          <div class="cell" data-title="Location">
            Boston, MA
          </div>
        </div>
        
      </div>
</body>
</html>